#root {
  height: 100vh;
  width: 100vw;
}
.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 2vw;
  height: 100%;
}

.presentation {
  flex: 3;
  min-width: 600px;
  min-height: 300px;
  aspect-ratio: 1.8;
  background-color: rgb(252, 242, 223);
  justify-content: center;
  align-items: stretch;
}

.chat{
  flex:1;
  max-width: 600px;
  min-width: 300px;
  justify-content: center;
  align-items: stretch;
}